<h1><%= @cocktail.name %></h1>

<img src="<%= @cocktail.image_url %>" alt="">

<h2>Ingredients</h2>

<%= link_to 'add ingredient', new_cocktail_dose_path(@cocktail) %>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <p><%= dose.description %> <%= dose.ingredient.name %></p>
      <%= link_to 'delete', dose_path(dose), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'back to cocktails', cocktails_path %>
